<div class="container-fluid relative-pos special-list special-list-h4" bs-loading-overlay
bs-loading-overlay-reference-id="document-overlay">
  <div class="list-head">
    <div class="row">
      <div class="col-xs-12">
        <div class="white-box p-all-10 m-top-10">
          <div class="row">
            <div class="col-xs-6">
              <h1>Recibos</h1>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn btn-secondary" ng-click="document.createDocument()" ng-disabled="(document.enabled ==false )?true:false">Nuevo Recibo</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-top-20">
      <div class="col-xs-12 pagination-container">
        <div class="row">
          <div class="col-xs-3 text-left">
            <form class="form-inline form-sm active-cyan-2">
              <input class="form-control" type="text" placeholder="Buscar.." ng-change="document.searchDocument()" ng-model="document.query.filter">
              <i class="fa fa-search" aria-hidden="true" ></i>
            </form>
          </div>
          <div class="col-xs-3 col-xs-offset-6 text-right clearfix">
            <ul class="pagination justify-content-center">
              <li class="page-item" ng-repeat="range in document.allowedRanges"><a
                class="{{document.rangeSelected == range ? 'page-link pagina active' : 'page-link pagina'}}"
                ng-click="document.setRecordsPerPage(range)">{{range}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-top-10">
      <div class="col-xs-12 table-wrapper-scroll-y my-custom-scrollbar fixed-column-table">
        <table class="table table-bordered table-hover table-sm" cellspacing="0">
          <thead class="thead-dark">
            <tr>
              <th class="text-center th-sm" ng-class="{activeSort:document.sort==='code'}">Código
                <a href="#" ng-hide="document.direction === 'DESC' && document.sort === 'code'"
                class="sort-arrow pull-right"
                ng-click="document.loadDocument('code','DESC'); $event.preventDefault();"><i
                class="fa fa-angle-down"></i></a>
                <a ng-hide="document.sort !== 'code' || (document.sort === 'code' && document.direction === 'ASC')"
                href="#" class="sort-arrow pull-right"
                ng-click="document.loadDocument('code','ASC'); $event.preventDefault();"><i
                class="fa fa-angle-up"></i></a>
              </th>
              <th class="text-center" ng-class="{activeSort:document.sort==='WarehouseId'}">Sucursal
                <a href="#" ng-hide="document.direction === 'DESC' && document.sort === 'WarehouseId'"
                class="sort-arrow pull-right"
                ng-click="document.loadDocument('WarehouseId','DESC'); $event.preventDefault();"><i
                class="fa fa-angle-down"></i></a>
                <a ng-hide="document.sort !== 'WarehouseId' || (document.sort === 'WarehouseId' && document.direction === 'ASC')"
                href="#" class="sort-arrow pull-right"
                ng-click="document.loadDocument('WarehouseId','ASC'); $event.preventDefault();"><i
                class="fa fa-angle-up"></i></a>
              </th>
              <th class="text-center" ng-class="{activeSort:document.sort==='date'}">Fecha
                <a href="#" ng-hide="document.direction === 'DESC' && document.sort === 'date'"
                class="sort-arrow pull-right"
                ng-click="document.loadDocument('date','DESC'); $event.preventDefault();"><i
                class="fa fa-angle-down"></i></a>
                <a ng-hide="document.sort !== 'date' || (document.sort === 'date' && document.direction === 'ASC')"
                href="#" class="sort-arrow pull-right"
                ng-click="document.loadDocument('date','ASC'); $event.preventDefault();"><i
                class="fa fa-angle-up"></i></a>
              </th>
              <th class="text-center" ng-class="{activeSort:document.sort==='user'}">Usuario
                <a href="#" ng-hide="document.direction === 'DESC' && document.sort === 'user'"
                class="sort-arrow pull-right"
                ng-click="document.loadDocument('user','DESC'); $event.preventDefault();"><i
                class="fa fa-angle-down"></i></a>
                <a ng-hide="document.sort !== 'user' || (document.sort === 'user' && document.direction === 'ASC')"
                href="#" class="sort-arrow pull-right"
                ng-click="document.loadDocument('user','ASC'); $event.preventDefault();"><i
                class="fa fa-angle-up"></i></a>
              </th>
              <th class="text-center" ng-class="{activeSort:document.sort==='status'}">Estado
                <a href="#" ng-hide="document.direction === 'DESC' && document.sort === 'status'"
                class="sort-arrow pull-right"
                ng-click="document.loadDocument('status','DESC'); $event.preventDefault();"><i
                class="fa fa-angle-down"></i></a>
                <a ng-hide="document.sort !== 'status' || (document.sort === 'status' && document.direction === 'ASC')"
                href="#" class="sort-arrow pull-right"
                ng-click="document.loadDocument('status','ASC'); $event.preventDefault();"><i
                class="fa fa-angle-up"></i></a>
              </th>
              <th class="text-center"><em class="fa fa-cog"></em></th>
            </tr>
          </thead>
          <tbody ng-show="document.documentList.length > 0">
            <tr ng-repeat="item in document.documentList">
              <td>{{ item.code }}</td>
              <td>{{ item.warehouseName }}</td>
              <td>{{ item.date | amDateFormat: dateFormat }}</td>
              <td>{{ item.user }}</td>
              <td class="text-center">
                <span ng-if="item.status == 0">Cerrado</span>
                <span ng-if="item.status == 1">Creado</span>
                <span ng-if="item.status == 2">Almacenado</span>
              </td>
              <td class="text-center">
                <select name="documentActions{{$index}}" selectpicker="document.actions" class="actions-documents" ng-options="action.id as action.name for action in document.actions" data-width="120px" ng-model="item.action" ng-change="document.performAction(item)">
                  <option value="">Acciones</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <p ng-show="document.documentList.length < 1">No se encontraron datos.</p>
      </div>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-3 text-left">
          <p class="pull-left p-top-5">Mostrando
            {{(document.rangeSelected * (document.pageNum-1))+1}}-{{(document.rangeSelected* (document.pageNum-1))+document.numberOfPageRecords}}
          de {{document.totalRecords}}</p>
          <uib-pagination total-items="document.totalRecords" items-per-page="document.rangeSelected"
          ng-change="document.goToPage(document.pageNum)" ng-model="document.pageNum"
          max-size="document.maxPaginationItems" class="pagination-sm" boundary-links-numbers="true"
          previous-text="<" next-text=">"></uib-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<utn-modal-create-document selected-item="document.selectedItem"></utn-modal-create-document>
<utn-modal-edit-document selected-item="document.selectedItem"></utn-modal-edit-document>
<utn-modal-select-warehouse></utn-modal-select-warehouse>