<div class="modal fade" id="modalShowPhoto" tabindex="-1" role="dialog" aria-labelledby="modalShowPhoto">
  <div class="modal-dialog modal-xl" role="mswShowPhoto">
    <div class="modal-content">
      <form id="showPhotoForm" name="showPhotoForm" novalidate>
        <div class="modal-header">
          <h4 class="modal-title text-center">Global Emotion Company - 2019</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-3">
              <img src="assets/images/logo1.png" style="width: 550px; height: 320px;">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="mShowPhoto.dismissModal(showPhotoForm)">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
