<div class="container-fluid entry-screen" id="modalChangePassword">
  <div class="container authentication-form-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Cambiar Contraseña: <b>{{forgotPassword.userEdited.user}}</b></h1>
        <hr class="hr" />
        <form role="form" name="forgotForm" ng-submit="forgotPassword.change(forgotForm)" novalidate>
          <div class="form-group clearfix">
            <i class="fa fa-user fa-2x"></i>
            <label>Contraseña Nueva</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="Contraseña Nueva" class="form-control" ng-model="forgotPassword.userEdited.newPassword" required ng-minlength="8" ng-maxlength="20" autofocus />
            <div class="error" ng-messages="forgotForm.newPassword.$error" ng-show="forgotPassword.submitAttempt">
              <p ng-message="required">Información Requerida</p>
              <p ng-message="minlength">Contraseña debe superar los 8 caracteres</p>
              <p ng-message="maxlength">Contraseña no debe exceder los 20 caracteres</p>
            </div>
          </div>

          <div class="form-group clearfix">
            <i class="fa fa-user fa-2x"></i>
            <label>Confirmar Contraseña</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña" class="form-control" ng-model="forgotPassword.userEdited.confirmPassword" required ng-minlength="8" ng-maxlength="20" autofocus />
            <div class="error" ng-messages="forgotForm.confirmPassword.$error" ng-show="forgotPassword.submitAttempt">
              <p ng-message="required">Información Requerida</p>
              <p ng-message="minlength">Contraseña debe superar los 8 caracteres</p>
              <p ng-message="maxlength">Contraseña no debe exceder los 20 caracteres</p>
            </div>
          </div>

          <p class="error">{{ forgotPassword.message }}</p>

          <div class="row form-group">
            <div class="col-xs-6">
              <!-- <button type="submit" ladda="forgotPassword.loading" data-style="zoom-in" class="btn btn-secondary">Cambiar contraseña</button> -->
              <a class="btn btn-secondary" href="#" role="button">REGRESAR AL MENU</a>
            </div>
            <div class="col-xs-6">
              <button type="submit" ladda="forgotPassword.loading" data-style="zoom-in" class="btn btn-success">Cambiar contraseña</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="emotion-info-container">
    <div class="row">
      <div class="col-xs-10">
      </div>
      <div class="col-xs-2">
        <p class="text-right p-right-10"><strong>EMOTION v1.0</strong></p>
      </div>
    </div>
  </div>
</div>
