<div class="container-fluid entry-screen">
  <div class="container authentication-form-container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Establecer una nueva contraseña</h1>
        <hr/>

        <form role="form" name="resetForm" ng-submit="resetPassword.resetPasswordProcess(resetForm)" novalidate>
          <div class="form-group clearfix">
            <i class="fa fa-unlock fa-2x"></i>
            <input type="password" id="password" name="password" placeholder="Contraseña " class="form-control" ng-model="resetPassword.password" required autofocus>

            <div ng-messages="resetForm.password.$error" ng-show="resetPassword.submitAttempt">
              <span ng-message="required" class="error">Ingrese una nueva contraseña</span>
            </div>
          </div>
          <div class="form-group clearfix">
            <i class="fa fa-unlock fa-2x"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" class="form-control" ng-model="resetPassword.confirmPassword" required>

            <div ng-messages="resetForm.confirmPassword.$error" ng-show="resetPassword.submitAttempt" >
              <span ng-message="required" class="error">Vuelva a digitar la contraseña para confirmar</span>
            </div>
          </div>

          <p class="error">{{ resetPassword.message }}</p>

          <p class="error" ng-show="!resetPassword.resetToken">Enlace para establer contraseña incorrecto</p>
          <div class="form-group">
            <button type="submit" ladda="resetPassword.loading" data-style="zoom-in" class="btn btn-secondary" ng-disabled="!resetPassword.resetToken" ng-class="{'disable':!resetPassword.resetToken}">Crear Nueva contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="tekproa-info-container">
    <div class="row">
      <div class="col-xs-10">
        <a ui-sref="home" title="utn"><img src="assets/images/TEKPROA.jpg" alt="TEKPROA" class="img-responsive" /></a>
      </div>
      <div class="col-xs-2">
        <p class="text-right p-right-10"><strong>EMOTION v1.0</strong></p>
      </div>
    </div>
  </div>
</div>
